#wrapper {
    display: flex;
    width: 1440px;
    margin: 0 auto;
    align-items: center;
}

#image {
    width: 712px;
    height: 832px;
}

#about {
    display: flex;
}

#about_text {
    padding: 100px;
}

#favorit {
    display: flex;
    position: absolute;
    top: 0;
    right: 20px;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

#heart {
    width: 34px;
    height: 32px;
}

#container {
    position: relative;
    width: 483px;
    margin: 0 auto;
}

#favorit strong {
    font-family: "Inter", sans-serif;
}

#destination {
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

#facilities_text {
    font-weight: 900;
}

#title {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}